html,
body {
  overflow: hidden;
}
* {
  margin: 0;
  padding: 0;
}

.webGl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}
.container {
  display: flex;
  justify-content: center;
}

#source {
  position: fixed;
  z-index: 99;
}

.clear-scene-btn {
  position: absolute;
  color: white;
  background-color: dodgerblue;
  width: 200px;
  margin-top: 40px;
  margin-left: 2%;
  height: 30px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.clear-scene-btn:hover {
  background-color: white;
  color: dodgerblue;
  cursor: pointer;
}
.song-parent {
  width: 30%;
  position: absolute;
  margin-top: 90px;
  margin-left: 2%;
}
#song-select {
  height: 30px;
  width: 160px;
  border-radius: 5px;
  border: none;
  background-color: dodgerblue;
  color: white;
}
#song-select :hover {
  background-color: white;
  color: dodgerblue;
  cursor: pointer;
}
#average-frequency {
  color: dodgerblue;
}

.play-dv {
  color: white;
  background-color: dodgerblue;
  border-radius: 50px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  margin-top: 10px;
  display: none;
}

.play-dv:hover {
  background-color: white;
  color: dodgerblue;
  cursor: pointer;
}
.pause-dv {
  color: white;
  background-color: dodgerblue;
  border-radius: 50px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  user-select: none;
  margin-top: 10px;
}

.pause-dv:hover {
  background-color: white;
  color: dodgerblue;
  cursor: pointer;
}

.moveCam {
  color: white;
  background-color: dodgerblue;
  border-radius: 50px;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  user-select: none;
  margin-top: 10px;
}
